In [1]:
import pandas as pd

In [8]:
# data = [
#     {'name': 'Kashyap', 'age':26, 'location':'Nagpur'},
#     {'name': 'Raju', 'age':28, 'location':'Pune'},
#     {'name': 'Khaju', 'age':31, 'location':'Mumbai'},
#     {'name': 'Bhaju', 'age':21, 'location':'Delhi'}
# ]

data = {
    'name':['Kashyap','raju','khaju','bhaju'],
    'age':[26,43,23,64],
    'place': ['nagpur','pune','mumbai','delhi']
}

In [9]:
df = pd.DataFrame(data)

In [10]:
df

      name  age   place
0  Kashyap   26  nagpur
1     raju   43    pune
2    khaju   23  mumbai
3    bhaju   64   delhi

In [13]:
df.to_csv("data/data.csv", index=False)

In [2]:
import boto3
import os

In [8]:
# client = boto3.client('s3')
s3 = boto3.resource(
    service_name='s3',
    region_name='us-east-1',
    aws_access_key_id='AKIA4EHEUOD2JJR7CMUW',
    aws_secret_access_key='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'
)

In [9]:
os.getcwd()

'd:\\Learning\\INeuron\\Live\\14_DVC'

In [13]:
bucket = 'k-dvc-bucket'
file_path = os.path.join(os.getcwd(), 'data','custom_data.csv')
print(file_path)

d:\Learning\INeuron\Live\14_DVC\data\custom_data.csv

In [14]:
# data = open(file_path, 'rb')

s3.Bucket(bucket).upload_file(Filename = file_path, Key = 'sampe_file.csv')